/* POMODORO */

* {
  /*border: red solid;*/
}

.interface {
  display: flex;
  display: -webkit-flex;
  margin: 0 auto;
  width: 225px;
  height: 50px;
}

.counter {
  display: inline-block;
  margin: 25px;
}

.counter-display {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  font-size: 30px;
  width: 75px;
  height: 100%;
}

.counter button {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  width: 75px;
  height: 100%;
  border: 0;
}

button.down {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

button.up {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pom-wrapper button:hover, .display:hover {
  cursor: pointer;
}

.down {
  background-color: red;
}

.up {
  background-color: green;
}

.reset {
  padding: 10px;
  width: auto;
  font-size: 25px;
  border-radius: 10px;
}


.display {
  display: block;
  margin: 20px auto;
  width: 75%;
  font-size: 450%;
  text-align: center;
  background-color: lightblue;
  padding: 25px;
  border-radius: 10px;
}

.pom-wrapper {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
