html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
#app,
.container {
  height: 100%;
}



body {
  background-color: ivory;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

.container {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
}

.active {
  font-weight: bold;
}

.nav li {
  margin-right: 15px;
}

.home-container {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}








/* POMODORO */

.interface {
  display: flex;
  margin: 0 auto;
  width: 225px;
  height: 50px;
}

.counter {
  display: inline-block;
  margin: 25px;
}

.counter-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  font-size: 30px;
  width: 75px;
}

.counter button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  width: 75px;
  border: 0;
}

button.down {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

button.up {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pom-wrapper button:hover, .display:hover {
  cursor: pointer;
}

.down {
  background-color: red;
}

.up {
  background-color: green;
}

.reset {
  padding: 10px;
  width: auto;
  font-size: 25px;
  border-radius: 10px;
}


.display {
  display: block;
  margin: 20px auto;
  width: 75%;
  font-size: 100px;
  text-align: center;
  background-color: lightblue;
  padding: 25px;
  border-radius: 10px;
}

.pom-wrapper {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}


/* CALCULATOR */
#calc-app {
  text-align: center;
}

#calc-shell {
  margin: 0 auto;
  background-color: #6992d3;
  width: 300px;
  border-radius: 30px;
  padding: 20px;
}

#calc-body {
  font-family: 'Audiowide', cursive;
  margin: auto;
}

#calc-display {
  height: 75px;
  border: solid black;
  border-radius: 5px;
  text-align: right;
  padding: 5px;
  overflow: auto;
  background-color: silver;
}

#top-disp {
  font-size: 2em;
}

td {
  width: 60px;
  height: 65px;
  padding: 5px;
}

td > button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 1.5em;
}


/* SIMON */

* {
  /*outline: solid red;*/
}

#simon {
  /*width: 500px;*/
  margin: 0 auto;
  /*outline: solid limegreen;*/
}

#simon h1 {
  text-align: center;
}

#simon-container {
  width: 500px;
  position: relative;
  margin: 0 auto;
  background-color: black;
  border-radius: 100%;
  /*border: solid orange;*/
}

.row {
  width: 100%;
  height: 250px;
  /*outline: solid blue;*/
  }

.simon-pad {
  display: inline-block;
  width: 50%;
  height: 100%;
  border: solid black 30px;
}

.simon-pad:hover {
  cursor: pointer;
}

.green {
  border-right: black solid 15px;
  border-bottom: solid black 15px;
  border-top-left-radius: 100%;
  background-color: green;
}

 .red {
  border-left: black solid 15px;
  border-bottom: solid black 15px;
  border-top-right-radius: 100%;
  background-color: red;
}

.yellow {
  border-right: black solid 15px;
  border-top: solid black 15px;
  border-bottom-left-radius: 100%;
  background-color: yellow;
}

 .blue {
  border-left: black solid 15px;
  border-top: solid black 15px;
  border-bottom-right-radius: 100%;
  background-color: blue;
}

.center-area {
  text-align: center;
  color: white;
  background-color: black;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  position: absolute;
  top: 125px;
  left: 125px;
  margin: 0 auto;
  /*padding: 10px;*/
}

.center-area h1 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 60px;
}

.control-top {
  display: flex;
  justify-content: space-around;
}

.count {
  background-color: silver;
  color: black;
}

.start {
  background-color: silver;
}

.strict {
  background-color: silver;
  color: black;
}

.on-off {
  margin-top: 25px;
  background-color: silver;
}

@media (max-width: 550px) {

  #simon {
    width: 300px;
  }

  .row {
    width: 100%;
    height: 150px;
    }

  .center-area {
    width: 150px;
    height: 150px;
    top: 75px;
    left: 75px;
  }

  .center-area h1 {
    margin-top: 30px;
    font-size: 30px;
  }

}



/* TicTacToe */

/*body {
  background-color: ivory;
}*/

/*
#game-board {
  margin: auto;
  width: 300px;
  text-align: center;
  padding-top: 50px;
}

#game-board > h2 {
  padding-bottom: 50px;
}

.board-row {
  text-align: center;
  display: table-row;
}

.board-box {
  width: 100px;
  height: 100px;
  font-size: 65px;
  text-align: center;
  display: table-cell;
}

#prompt {
  margin-top: 50px;
  text-align: center;
  background-color: gray;
  display: none;
  font-size: 30px;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}

button {
  background-color: lightgray;
  width: 75px;
  height: 75px;
  border-radius: 10px;
}

#one {
  border-right: solid 5px black;
  border-bottom: solid 5px black;
}

#two {
  border-right: solid 5px black;
  border-bottom: solid 5px black;

}

#three {
  border-bottom: solid 5px black;
}

#four {
  border-right: solid 5px black;
  border-bottom: solid 5px black;
}

#five {
  border-right: solid 5px black;
  border-bottom: solid 5px black;
}

#six {
  border-bottom: solid 5px black;
}

#seven {
  border-right: solid 5px black;
}

#eight {
  border-right: solid 5px black;
}

#nine {

}*/
